
.tweaksForRedditLivePreviewContainer {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;
}

.tweaksForRedditLivePreviewContainer div {
    padding: 10px !important;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.rdtwks-downvotes {
    font-size: large;
    font-weight: bold;
    color: tomato;
    padding: 0px 0px 5px 5px !important;
}

.rdtwks-upvotes {
    font-size: large;
    font-weight: bold;
    color: mediumseagreen;
    padding: 5px 0px 0px 5px !important;
}

.rdtwks-negativeKarmaMemory {
    font-weight: bold;
    color: tomato;
}

.rdtwks-positiveKarmaMemory {
    font-weight: bold;
    color: mediumseagreen;
}
