
.rdtwks-livepreview {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: -7.5px !important;
    margin-left: 0px !important;
    position: relative;
    width: 100%;
}

.rdtwks-livepreview div {
    padding: 7.5px !important;
}

.rdtwks-downvotes {
    font-size: large;
    font-weight: bold;
    color: tomato;
    padding: 0px 0px 5px 5px !important;
}

.rdtwks-upvotes {
    font-size: large;
    font-weight: bold;
    color: mediumseagreen;
    padding: 5px 0px 0px 5px !important;
}

.rdtwks-negativeKarmaMemory {
    font-weight: bold;
    color: tomato;
}

.rdtwks-positiveKarmaMemory {
    font-weight: bold;
    color: mediumseagreen;
}
