<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Composable Architecture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Main App UI Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Main App Unit Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Popover.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SnapKitPlayground (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SnapKitPlayground (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>SnapKitPlayground (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TFRBackgroundFetcher.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>TFRCore Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TFRCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TfRGlobals Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>TfRGlobals.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Tweaks for Reddit Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tweaks for Reddit Notifications.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Tweaks for Reddit.app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>block.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8925FD0526337E0A00D83FF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>895233BE24A6AC0300B72CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>897A296226E6FD2700268E76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898A38F72688FE5E00268E76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898A390E2688FFBA00268E76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898F0574267EBDE600268E76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89E03BF626E93CDC00268E76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89EAB7412687F24000268E76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99C7C2EC235D81A700ABA6EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99C7C2FF235D81AA00ABA6EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
